@inherits LayoutComponentBase

<div class="layout-root">
    <header class="layout-header">
        <a class="navbar-brand" href="">Swol</a>
        <!-- Hamburger and nav menu for mobile -->
        <input type="checkbox" id="nav-toggle" class="navbar-toggler" />
        <label for="nav-toggle" class="hamburger" aria-label="Open navigation menu">
            <span></span>
            <span></span>
            <span></span>
        </label>
        <div class="mobile-nav">
            <NavMenu />
        </div>
    </header>
    <div class="layout-main">
        <nav class="layout-sidebar">
            <NavMenu />
        </nav>
        <section class="layout-content">
            @Body
        </section>
    </div>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>