<nav class="w-full">
    <div class="px-3 py-2 first:pt-4 last:pb-4 text-[0.9rem]">
        <NavLink class="block w-full rounded h-12 flex items-center px-2 text-gray-200 hover:text-white hover:bg-white/10" href="/" Match="NavLinkMatch.All" ActiveClass="bg-white/30 text-white">
            <span class="bi bi-house-nav-menu inline-block w-5 h-5 mr-3 -mt-px" aria-hidden="true"></span> Dashboard
        </NavLink>
    </div>

    <div class="px-3 mt-2">
        <div class="text-gray-300 text-xs uppercase font-bold py-1 border-b border-gray-500 mb-2">Training</div>
    </div>
    <div class="px-3 py-2 text-[0.9rem] first:pt-4 last:pb-4">
        <NavLink class="block w-full rounded h-12 flex items-center px-2 text-gray-200 hover:text-white hover:bg-white/10" href="/workouts" ActiveClass="bg-white/30 text-white">
            <span class="bi bi-calendar-check-nav-menu inline-block w-5 h-5 mr-3 -mt-px" aria-hidden="true"></span> Workouts
        </NavLink>
    </div>
    <div class="px-3 mt-2">
        <div class="text-gray-300 text-xs uppercase font-bold py-1 border-b border-gray-500 mb-2">Library</div>
    </div>
    <div class="px-3 py-2 text-[0.9rem] first:pt-4 last:pb-4">
        <NavLink class="block w-full rounded h-12 flex items-center px-2 text-gray-200 hover:text-white hover:bg-white/10" href="/templates" ActiveClass="bg-white/30 text-white">
            <span class="bi bi-calendar-range-nav-menu inline-block w-5 h-5 mr-3 -mt-px" aria-hidden="true"></span> Templates
        </NavLink>
    </div>
    <div class="px-3 py-2 text-[0.9rem] first:pt-4 last:pb-4">
        <NavLink class="block w-full rounded h-12 flex items-center px-2 text-gray-200 hover:text-white hover:bg-white/10" href="/exercises" ActiveClass="bg-white/30 text-white">
            <span class="bi bi-list-ul-nav-menu inline-block w-5 h-5 mr-3 -mt-px" aria-hidden="true"></span> Exercises
        </NavLink>
    </div>
</nav>
