@page "/exercisesets"
@* This page is obsolete. Please use the new logging structure with WorkoutDayExerciseSet. *@
<p>This page is obsolete. Please use the new logging structure with WorkoutDayExerciseSet.</p>
