@page "/templates/{WorkoutTemplateId:int}/days/{DayNumber:int}"
@inject Swol.Data.ApplicationDbContext Db
@inject NavigationManager Nav
@using Swol.Data.Models
@using Microsoft.EntityFrameworkCore

<PageTitle>Template Day</PageTitle>

@* This page is obsolete. Please use WorkoutTemplateDay instead of MesocycleDay. *@
<p>This page is obsolete. Please use WorkoutTemplateDay instead of MesocycleDay.</p>

@code {
    [Parameter] public int WorkoutTemplateId { get; set; }
    [Parameter] public int DayNumber { get; set; }
}